PORT=3000
NODE_ENV=development
JWT_SECRET=change-me-to-a-long-random-secret
JWT_TEMP_EXPIRES_IN=10m
JWT_ACCESS_EXPIRES_IN=7d
DB_HOST=127.0.0.1
DB_PORT=5434
DB_NAME=waow_backend
DB_USER=postgres
DB_PASSWORD=postgres
UPLOAD_DIR=uploads
